<div class="container">
  <div class="title">
    <h1>Search your house</h1>
  </div>
  <div class="content">
    <div class="search-input">
      <p>Make a search by the country or address to find the house</p>
      <input type="text" [(ngModel)]="searchValue" (ngModelChange)="makeSearch()">
    </div>
    <div class="table-houses">
      <table>
        <tr>
          <th>City</th>
          <th>Address</th>
          <th>Price</th>
        </tr>
        <tr *ngFor="let house of filteredHouses">
          <td>{{ house.country }}</td>
          <td>{{ house.address }}</td>
          <td>{{ house.price }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>